<h1>Tämä on testiaikainen kotisivu, jossa on simuloitua dataa</h1>
<1>Sähkö on nyt kallista</1>
<1 class="expensive">{{price}} snt/kWh</1>
<h2>Tuuli {{wind}} m/s</h2>
<h2>Lämpötila {{temperature}}</h2>